[Unit]
Description=Node Exporter
After=network.target

[Service]
User=root
Group=root
Type=simple
ExecStart=/usr/bin/node_exporter --collector.textfile.directory=/home/ec2-user/custom_prom_metrics

[Install]
WantedBy=multi-user.target
